<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Management</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        header h3,h1{
            text-align: center;
            background-color: crimson;
        }
        header nav{
            text-align: right;
            background-color: darkorange;
        }
        .navbar li{
            padding: 20px;
            display: inline;
            margin: 20px;
        }
        main{
            margin-top: 20px;
        }
    </style>
</head>
<body>
     <header>
        <h3>Welcome</h3>
        <h1>Hotel Booking</h1>
    <nav>
        <ul class="navbar">
            <li class="search">
                <input type="text" placeholder="Search...">
                <button type="submit">Search</button>
            </li>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
        </ul>   
    </nav>
     </header>
     <main>
        <div class="row">
            <div class="col-5"><img src="https://4.imimg.com/data4/HN/IS/MY-30650326/hotel-booking-500x500.jpg" alt="" height="300px"></div>
            <div>
                <h3>Hotel Sairaj</h3>
                <p>
                    City : Pune
                </p>
            </div>
        </div>
     </main>
    
</body>
</html>