<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Updated</title>
</head>
<body>
    <h2>Password Updated</h2>
    <p>Your password has been successfully updated. You can now use your new password to log in.</p>
    <!-- You can add a link to redirect users to the login page or any other relevant page -->
    <a href="/login">Go to Login Page</a>
</body>
</html>
