<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
    <h1>Student List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Age</th>
                <!-- <th>Name</th> -->
                <th>Username</th>
                <th>Contact</th>
                <th>Email</th>
                <th>Gender</th>
                <!-- Add more columns for other user attributes -->
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.age}"></td>
                <!-- <td th:text="${user.name}"></td> -->
                <td th:text="${user.username}"></td>
                <td th:text="${user.mobile}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.gender}"></td>
                <!-- Add more columns for other user attributes -->
            </tr>
        </tbody>
    </table>


</body>
</html>